{% include 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="well">
        <main role="main" class="container main">
            {% include 'display_messages.html.twig' %}
        </main>

    </div>

    {% endblock %}

{% block footer %}{% endblock %}