{% include 'base.html.twig' %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <main role="main" class="container main">
                        {% include 'display_messages.html.twig' %}
                    </main>
                    <h1>Connectez vous</h1>
                    {% if hasError %}
                        <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur ou alors le mot de
                            passe
                            est invalide
                        </div>
                    {% endif %}
                    <form action="{{ path('account_login') }}" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="_username" id="email" class="form-control"
                                   placeholder="Adress email..." required
                                   value="{{ username }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="form-control"
                                   placeholder="Mot de passe..." required>
                        </div>
                        <div class="form-group">
                            <button href="{{ path('wellness_homepage') }}" type="submit" class="btn btn-success">
                                se connecter
                            </button>
                        </div>
                    </form>


                </div>


            </div>
        </div>

    </div>
{% endblock %}
 {% block footer %}{% endblock %}
