{% include 'base.html.twig' %}

{% block body %}
    <div class="container" style="padding-top: 10%">
        <div class="well">
            <main role="main" class="container main">
                {% include 'display_messages.html.twig' %}
            </main>
            <h1>Modification du mot de passe</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Modifier le mot de passe</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



