
{% include 'base.html.twig' %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <main role="main" class="container main">
            {% include 'display_messages.html.twig' %}
        </main>
        <h1>Modification du mot de passe</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Modifier le mot de passe</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
 {% block footer %}{% endblock %}


