{% include 'base.html.twig' %}

{% block body %}
  <div class="container">
  <main role="main" class="container main">
            {% include 'display_messages.html.twig' %}   
 </main>
  <h1>Modification du profil </h1>
  {{ form_start(form)}}
  {{ form_widget(form)}}
  <button type="submit" class="btn btn-success">Enregistrer les modifications</button>

  {{ form_end(form)}}
  
  </div>
{% endblock %}
 {% block footer %}{% endblock %}