{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
<!------ Include the above in your HEAD tag ---------->
{% endblock %}
{% block body %}
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h4 class="aboutus-title">QUI SOMMES-NOUS ?</h4>
                    <p class="aboutus-text">WellnessClub encourage et aide les femmes à prendre soin d'elles-mêmes, de leurs familles et de la planète pour bâtir une société joyeuse et consciente où chacun puisse vivre pleinement et harmonieusement. WellnessClub est au coeur de cette mission en initiant la nouvelle culture et en abordant des thèmes de société et des sujets qui touchent l’ensemble de la population féminine : la santé, le bien-être, la beauté, la cuisine et bien d’autres. La femme, en totale harmonie avec l'homme, est pour nous, la clé de bouleversements présents et à venir. Pour cela, nous les femmes, avons besoin de pouvoir nous sentir pleinement nous-mêmes dans nos modes de vie et nos convictions. WellnessClub encourage l'art d'être femme.
                        WellnessClub, c’est une aventure humaine et une équipe passionnée qui propose des contenus de qualité </p>
                    <p class="aboutus-text"> Notre ambition est de bâtir, maintenant, et avec toutes les femmes, un media de référence, lieu d'échange et de partage, des femmes "bio" (bios en Grec = Vie).
                        WellnessClub est le féminin qui change la vie, car il EST au coeur de ce qui est vivant.</p>
                    <a class="aboutus-more" href="#">Plus De details</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="https://assets.website-files.com/5cf4610bee1b523df59b3ca2/5d2429911a002328a979b18e_undraw_team_spirit_hrr4.svg" alt="">
                </div>
            </div>
         </div>
    </div>
</div>
{% endblock %}