{% include 'base.html.twig' %}

{% block stylesheets %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>

{% endblock %}
{% block body %}
<div class="container">
{% for i in 0..5 %}
<br>
{% endfor %}
<main role="main" class="container main">
            {% include 'display_messages.html.twig' %}   
 </main>
<h2 class="aboutus-title">Contactez-nous</h2>
    
 <div>
        {{ form_start(email_form) }}
        {{ form_widget(email_form) }}

        <div class="form-group row">
            <div class="col-sm-10">
                <input type="submit" value="Envoyer" class="btn btn-success"/>
            </div>
        </div>

        {{ form_end(email_form) }}
    </div>
</div>
{% endblock %}