{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
    <!------ Include the above in your HEAD tag ---------->
{% endblock %}

{% block body %}
    <html lang="pt-br">
    <body class = home>
    <div class = background> </div>
    <div class="wrapper">
        <div class="content">
            <h1 class="content">Envie d’un moment de détente ?</h1> <br>
            <p>
                Nous vous proposons des articles sur des thèmes riches et variés tels que la beauté (tendances, soins,
                routines…) mais aussi le bien-être (décoration, méditation, aroma, healthy food…).


                vous pouvez nous contacter directement en utilisant le formulaire de contact. Nos équipes vous répondront dans les plus brefs délais.
            <p>Passionnée par les plantes Nous partagons également nos découvertes et nos conseils pour débuter et avoir la main verte !</p>
           Bonne lecture ! <br>
            </p>
            <p>l'équipe de WellnessClub</p>
        </div>
    </div>
    </body>
{% endblock %}