{% include 'base.html.twig' %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
{% endblock %}

{% block body %}
    <div class="aboutus-section">
        <div class="container" style="padding-top: 60px">
            <div class="row">
                <div class=" col-sm-6 ">
                    <div class="aboutus">
                        <h2 class="aboutus-title">MENTIONS LÉGALES & GCU</h2>
                        <h5 style="font-weight: bold">Editeur du site</h5>
                        Blog WellnessClub
                        par L3 miage <br>
                        Université paris 1, 90 rue Tolbiac <br>
                        75013 paris France <br>
                        Tél. : + 33 (0) 0 00 00 00 00 <br>
                        <br>
                        <h5 style="font-weight: bold">Responsable développement</h5>
                        YASSIN HAMOU OUALI <br><br><br>
                        <h5 style="font-weight: bold">Conditions d’utilisation</h5>
                        <p class="aboutus-text">Le site accessible par le nom de domaine suivant : WellnessClub.blog.com
                            est exploité
                            dans le respect de la législation française. L’utilisation de ce site est régie par les
                            présentes mentions légales et conditions générales d’utilisation. En utilisant le site, vous
                            reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci
                            pourront être modifiées à tout moment et sans préavis par la société SymFeed.
                        </p><br>
                        <h5 style="font-weight: bold">Confidentialité</h5>
                        <p class="aboutus-text"> Confidentialité
                            Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des
                            tiers hormis pour la bonne exécution de la prestation.</p>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner" style="padding-top: 20px">
                        <img src="https://gm-digital-consulting.com/wp-content/uploads/2018/08/mentions_legales-770x499.jpg"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}