<span class="rating">
            {% for i in 1..5 %}
                {% if i<= rating %}
                    <i class="fas fa-star" style="color:#FFD700"></i>
                {% else %}
                   <i class="far fa-star" style="color:#FFD700"></i>
                {% endif %}
            {% endfor %}
         
         </span>