{% block stylesheets %}
    <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <h2>Commentaires</h2>
    {% for comment in comments %}
        {% if comment.getParentId() == null and comment.getIsVisible() %}
          {% include 'comment/comment.html.twig' with
            {'comment': comment, 'can_reply': false, 'is_subcomment': false,
             'can_delete': true, 'can_like': false} %}

            {% for subcomment in comments %}
                {% if subcomment.getParentId() == comment.id and subcomment.getIsVisible() %}
                  {% include 'comment/comment.html.twig' with
                  {'comment': subcomment, 'can_reply': false, 'is_subcomment': true,
                    'can_delete': true, 'can_like': false} %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
